/* Base styles */ 

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}


button,
input,
optgroup,
textarea,
p {
    font-family: inherit;
    margin: 0;
}


/* Layout */ 


.content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}



.image-section {
    width: 100%;
    
    background-image: url("green-leaf-odin.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

}


.logo {

    background-color: rgba(0, 0, 0, .25);

    height: 20%;
    width: 100%;
    margin-top: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.logo__container {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    
}


.logo__icon {
    height: 50%;

}

.logo__wordmark {
    color: white;
    font-size: 2rem;
}


.text-section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.text-section__heading {
    font-size: 2rem;
    font-weight: 600;

    width: 75%;
    margin: 40px 10px 0px 5px;
}


/* Form styling */ 

.form-container {
    height: 50%;
    width: 100%;
    background-color: white;

    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, .10) ;

}

.form__heading {
    font-size: 1.5rem;
    width: 100%;
}


.form  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 30px;
    
}


.form div {
    width: 100%;
    margin: 10px;
}


.form input[type="text"],
.form input[type="password"],
.form input[type="submit"],
.form input[type="email"], 
.form input[type="tel"] {
    font-size: 1rem; 

    display: block;
    width: 100%;
    height: 40px;

    border: 1px solid #d8d8d8;
    border-radius: 4px;
    
    outline: none;

    padding: 10px;
}

