/* Base styles */ 

:root {
    --left-space: 48px;

}

*{
    box-sizing: border-box;
}



body, 
html {
    margin: 0px;
    background-color: #ededed;
    display: block;
}


button,
input,
optgroup,
textarea,
p {
    font-family: inherit;
    margin: 0px;
}


/* Layout */ 


.content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100%;
}



.image-section {
    width: 100%;
    
    background-image: url("green-leaf-odin.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

}


.logo {

    background-color: rgba(0, 0, 0, .25);

    height: 20%;
    width: 100%;
    margin-top: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.logo__container {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    
}


.logo__icon {
    height: 50%;

}

.logo__wordmark {
    color: white;
    font-size: 2rem;
}


.text-section {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}


.text-section__heading {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: var(--left-space);
    margin-top: 20px;
    margin-right: 40px;

}



/* Form styling */ 


.form  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}


.form__heading {
    margin-left: var(--left-space);
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: gray;
}


.form__inputs{
    width: 100%;
    background-color: white;

    margin-top: 40px;
    padding: 40px 0;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, .10) ;
    


}


.form__inputs div {
    width: 90%;
    margin-left: var(--left-space);
    margin-bottom: 20px;
}

.form__inputs div label {
    font-size: .9rem;

}


.form__inputs input {
    font-size: 1.2rem; 

    display: block;
    width: 100%;
    height: 40px;

    border: 1px solid #d8d8d8;
    border-radius: 4px;
    
    outline: none;
    padding: 3px 6px;

}




.create-account {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 40px;

}


.create-account .create-account__button {
    color: #fff;
    background-color: #596d48; 
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;

    height: 60px;
    width: 500px;

    margin: 40px 0 10px;


    box-shadow: -1px 3px 4px 4px rgba(0, 0, 0, .10) ;

    cursor: pointer;

}


.create-account__footer-text {
    text-align: center;
}


.create-account__login-link {
    color: #596d48;
    font-weight: 600;
    
}

/* validation styling */ 

.form__inputs input:invalid{
    border: 1px solid red;
}

.form__inputs input:valid {
    border: 1px solid green;
}


.form__inputs input:invalid:focus,
.form__inputs input:valid:focus,
.form__inputs input:placeholder-shown {
    border: 1px solid #d8d8d8;
}







